/* Overall container styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #36D1DC, #5B86E5); /* Gradient background */
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

/* Title styling with gradient text */
.title {
  font-size: 36px;
  font-weight: 700;
  background: linear-gradient(to right, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif; /* Different font for the title */
}

/* Error and success message styling */
.error {
  color: #d9534f;
  font-size: 14px;
  margin-bottom: 15px;
}

.success {
  color: #5bc0de;
  font-size: 14px;
  margin-bottom: 15px;
}

/* Form container styling */
.form, .otpForm {
  background: #fff;
  border-radius: 16px;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
}

/* Input field styling */
.input {
  width: calc(100% - 24px); /* Adjust width for padding */
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #1000f3;
  outline: none;
}

/* Button styling */
.submitButton {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #1000f3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: #155a8a;
}

/* OTP instruction styling */
.otpInstruction {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  .title {
    font-size: 28px;
  }

  .input, .submitButton {
    font-size: 14px;
    padding: 10px;
  }
}
